<div id='cssmenu'>
  <ul>
    <li class='active'><a href='#'><span>Home</span></a></li>
    <li><a href='#'><span>About Us</span></a></li>
    <li><a href='#'><span>Menu</span></a></li>
    <li class='last'><a href='#'><span>Contact Us</span></a></li>
  </ul>
</div>
<h1> Chopstix Chinese Restaurant </h1>
<div class ="slider">
  <img id="1"src="assets/pic1.jpg" border="0" alt="Classy Environment" />
  <img id="2"src="assets/pic2.jpg" border="0" alt="Tasty Dishes" />
  <img id="3"src="assets/pic3.jpg" border="0" alt="Freshly Prepared" />
</div>
<div class="shadow"></div>



