<h1> Chopstix Chinese Restaurant </h1>

<div class ="slider">
  <img id="1" border="0" alt="Classy Environment" <%= image_tag "pic1.jpg"%>
  <img id="2" border="0" alt="Tasty Dishes" <%= image_tag "pic2.jpg"%>
  <img id="3" border="0" alt="Freshly Prepared" <%= image_tag "pic3.jpg"%>
</div>
<div class="shadow"></div>



