//h1{
//  //color: #d7ceb2;
//  //text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
//  //font: 45px 'BazarMedium';
//  //letter-spacing: 10px;
//  //text-align: center;
//  font-family:Georgia,serif;
//  color:#666666;
//  font-size:30px;
//  line-height:1em;
//  margin:40 10 60 10px;
//  text-align: center;
//}

h1 {
  margin: 1em 0 1em;
  padding: 0 0 5px 0;
  color: #6B5344;
  font-weight: bold;
  position: relative;
  text-shadow: 0 2px 0 rgba(255,255,255,0.5);
  font-size: 58px;
  line-height: 40px;
  font-family: 'Carrois Gothic', sans-serif;
  text-align: center;
}


.slider{
  width:60%;
  height:350px;
  overflow:hidden;
  margin:30px auto;
  background-image:image-url("loader.gif");
  background-repeat:no-repeat;
  background-position:center;
}

.shadow{
  background-image:image-url("shadow.png");
  background-repeat:no-repeat;
  background-position:top;
  width:864px;
  height:144px;
  margin:-60px auto;
}
.slider img{
  width:800px;
  height:350px;
  display:none;
}

//Top Nav Bar

#cssmenu,
#cssmenu ul,
#cssmenu li #cssmenu a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-family: Helvetica;
  line-height: 1;
}
#cssmenu {
  width: auto;
}
#cssmenu ul {
  zoom: 1;
  background: #a7bc7a image-url("pattern.png") top left repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #839b4e;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu a,
#cssmenu a:link,
#cssmenu a:visited {
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 -1px 1px #586835;
  border-right: 1px solid #839b4e;
}
#cssmenu a:hover {
  color: #586835;
  text-shadow: 0 1px 1px #bdcd9c;
}
#cssmenu li {
  float: left;
  border-right: 1px solid #b2c58b;
}
#cssmenu li:hover {
  background: #9cb369 image-url("pattern.png") top left repeat;
}
#cssmenu li:first-child {
  border-left: none;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

//3 Column Layout

.HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column;
  height:100%;
}

.HolyGrail-nav {
  order: -1;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
    height:100%;
  }
  .HolyGrail-content {
    flex: 1;
  }
  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 18em;
    //color: #ecffff;
    //background-image:image-url("loader.gif");
    background-image:image-url("wood-pattern.jpg");
    background-repeat: repeat-y;
    height:100%;
  }
}